
.actionContainer {
	font-family: Palatino;
	font-size: 11pt;
	margin-bottom: 5pt;
}

.icon {
	margin-right: 4pt;
	font-size: 6pt;
}

.action {
	font-weight: bold;
}

.description {
	font-style: italic;
}