
.location {
	margin-bottom: 60pt;
}

.title {
	padding-top: calc(20pt + 56px);
	margin-top: -56px;
	margin-bottom: 12pt;

	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: 12pt;
}

.introduction {
	font-family: Palatino;
	font-style: italic;
	font-size: 11pt;
	margin-bottom: 20pt;
}

.introduction p {
	margin-bottom: 5pt;
}