
.verse {
    margin-bottom: 20pt;
}

.text {
    margin-bottom: 10pt;
    font-family: Palatino;
	font-style: italic;
	font-size: 11pt;
}

.text p {
    margin-bottom: 5pt;
}

.rewards {
    font-family: Palatino;
    font-size: 11pt;
}

.rewards div {
    margin-bottom: 5pt;
}

.task {
    margin-bottom: 5pt;
    font-family: Palatino;
    font-size: 11pt;
}

.endExploration {
    font-family: Palatino;
    font-size: 11pt;
}

.endExploration hr {
    margin-top: 20pt;
    margin-bottom: 20pt;

    border-width: 1pt;
    border-style: dashed;
}